/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

@font-face {
  font-family: 'CSRamsey-Regular';
  src: url('../fonts/CSRamsey-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-image: linear-gradient(130deg, #555555 40%, #D0FFE9 60%);
}

.logo-container {
  display: flex;
  align-items: center;
}

img {
  width: 160px;
  height: 100px;
  margin-right: 10px;
}

.slogan {
  font-size: 20px;
 color: #F7F7F7;
 font-family: 'CSRamsey-Regular', sans-serif;
}

/*Login and Register*/
.login-container {
  max-width: 500px;
  margin: 20px auto;
  padding: 30px;
  border : 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
 text-align: center;
  color: #555555;

}

input {
  font-size: 16px;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  font-size: 16px;
  margin: 10px 80px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #555555;
  color: #F7F7F7;
  cursor: pointer;
}

.signup {
  margin-top: 20px;
  text-align: center;
}




@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
