/* #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
} */

@font-face {
  font-family: 'CSRamsey-Regular';
  src: url('../fonts/CSRamsey-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Qareky-font';
  src: url('../src/assets/fonts/qareky-font/Qareky.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CSRamsey-Regular', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #5555551e;
  display:flex;
  flex-direction: column;
  height: 100vh;
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-image: linear-gradient(90deg, #555555 40%, #D0FFE9 80%);
}

.onclick-button {
  margin-right: 20px;
}

.feature-button {
  margin-right: 20px;
}



.logo-container {
  display: flex;
  align-items: center;
}

img {
  width: 160px;
  height: 100px;
  border-radius: 10px;
  margin-right: 30px;
}

.slogan {
  font-size: 20px;
 color: #F7F7F7;
 font-family: 'Qareky-font', sans-serif;

}

/*Login and Register*/
.login-container {
  max-width: 500px;
  min-width: 400px;
  margin: 120px auto;
  padding: 30px;
  border : 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: #F7F7F7;

}

.login-form {
  display: flex;
  flex-direction: column;

}

-login-form h2 {
  font-size: 30px;
  margin-bottom: 70px;
  margin-left:20px;
  text-align: center;
  color: #555555;
  font-family: 'CSRamsey-Regular', sans-serif;

}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

button[type="submit"] {
  width: 100%;
  padding: 0.75rem;
  background-color: #646665;
  color: rgb(236, 234, 234);
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #7ad6ab;
}

button[type="submit"]:disabled {
  background-color: #d8b29c;
  cursor: not-allowed;
}

.error-message {
  color: rgb(207, 63, 63);
  text-align: center;
  margin-top: 1rem;
}

/*FeaturesPage*/
.features-page {
  padding: 20px;
  text-align: center;
}

.feature-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 40px;
}

.feature-card {
  background-color: #F7F7F7;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align:left;
  cursor: pointer;
  transition: transform 0.2s;
  text-decoration: none;
  color: inherit;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

.feature-card:hover {
  transform: scale(1.05);
}

.feature-content {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 40px;
  margin-right: 10px;
}

.button {
  display:inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color:#F7F7F7;
  text-decoration: none;
}

/*ProductOverview with  productscard styling*/
.product-overview {
  margin-bottom: 120px;
  padding: 20px;
  background-color: #F7F7F7;

}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  background-color: #b8b8b8; 
  color: #fff; 
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #66b3a4;
}

.scan-button {
  display: flex;
  align-items: center;
  background-color: #4CAF50;
  color:#F7F7F7;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}

.scan-button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.filter-component {
  display: flex;
  align-items: center;
}

.filter-component label {
  margin-right: 10px; 
}

.filter-component select {
  padding: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid #ccc; 
}

.filter-component select:hover {
  border-color: #66b3a4; 
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  background-color: #fff; /* Weißer Hintergrund für Produktkarten */
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  margin: 10px;
  flex-basis: calc(33.333% - 20px); /* Drei Karten pro Zeile */
}

.barcode-container {
  margin-top: 10px;
}
/* .product-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr)); 
  gap: 40px; 
  
} */
.product-card {
  width: 65%;
  background-color: #c8d6d131;
  border: 2px solid #ccc;
  border-radius: 10px; 
  margin: 15px 50px;
  padding: 10px;
  text-align: center; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  transition: transform 0.2s;
} 

.product-card:hover {
  transform: scale(1.05);
}

/* .product-card img {
  max-width: 60%; 
  height: auto; 
} */

.details-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #7ee7b3; 
  color: rgb(29, 28, 28); 
  text-decoration: none;
  border-radius: 10px; 
}

.details-button:hover {
  background-color: #00b32d; 
}

.product-link {
  text-decoration: none;
  color:#333;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;

}

/*Product-details*/
.main-content {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 110px;
}

.main-content {
  margin-bottom: 40px;

}

.product-details-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}


/* .product-details-container.card.editing-mode ul{
  background-color: #c8d6d131;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  list-style: none;
}

.product-details-container.card.editing-mode ul li {
  /* Styles für die li-Elemente im Bearbeitungsmodus 
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
} */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #c8d6d131;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
}

.product-details {
  margin-bottom: 30px;
  background-color: #bfcec931;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 40%;
}

.product-details h2 {
  color: #333;
  margin-bottom: 10px;
}

.product-details ul {
  list-style-type: none;
  padding: 0;
}

.product-details li {
  margin-bottom: 15px;
  font-size:medium;
}

.product-details li strong {
  font-weight: bold;
  margin-right: 10px;
}

.nested-list {
  margin-left: 30px;
}

.supervisor-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.supervisor-controls button {
  margin-top: 25px;
  padding: 10px 15px;
  background-color: #b8b8b8; 
  color: rgb(231, 229, 229);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.supervisor-controls button:hover {
  background-color: #00b38c;
}

/*Delivery styling*/
.deliveries-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 110px;
}

.delivery-card {
  background-color: #c8d6d131;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 25px 50px;
  padding: 10px;
  width: 50%;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s;
}

.delivery-card:hover {
  transform: scale(1.05);
}

/*userMgtoverview Styling*/
.user-mgt-overview {
  padding: 20px;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-bottom: 110px;
}

.filter-container {
  margin-bottom: 30px;
}

.filter-container input {
  width: 70%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
}

.user-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
  gap: 15px;
}

.user-card {
  width: 85%;
  background-color: #c8d6d131;
  border: 2px solid #ccc;
  border-radius: 10px; 
  margin: 15px 50px;
  padding: 10px;
  text-align: center; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  transition: transform 0.2s;
}


.user-card:hover {
  transform: scale(1.05);
}

.user-icon {
  font-size: 48px;
  text-align: center;
  margin-bottom: 10px;
}

.user-card h2 {
  margin-top: 10px 0;
  color: #333;
}

.user-card p {
  margin: 5px 0;
  color: #666;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pagination button {
  background-color: #b8b8b8; 
  margin: 0 10px;
}

.pagination button:hover {
  background-color: #66b3a4;
}

/*Popup-Message Styling */
-popup-overlay {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background-color: #F7F7F7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  text-align: center;
}



.back-button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #555555;
  color: #F7F7F7;
  text-decoration: none;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #333;
}

/*Footer*/
footer {
  background-color: #555555;
  text-align:left;
  padding: 15px 0;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 80px;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  color: #D0FFE9; 
}

.footer-content p {
  font-size: 18px;
}

.footer a {
  color: #D0FFE9; 
  text-decoration: none; 
}

.footer a:hover {
  text-decoration: underline; 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
